<div class="card-header text-show p-2">
    Membres de mon Groupe
</div>

<nav class="mt-2 text-show">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Arbre de semence</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Arbre d'affiliation</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Arbre de Paiement</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!-- a mettre sur une page -->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="text-show">
            <div class="row">
                <div class="contour mb-5">
                    <div class="tree">
                        <ul>
                            <li> <a href="#">
                                    <div class="text-center" class="my-3">
                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                    </div>
                                    ONA OBIANG</a>
                                <ul>
                                    <li><a href="#">
                                            <div class="text-center" class="my-3">
                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                            </div>
                                            BEKALE ONA BOUTAMBA</a>
                                        <ul>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    NGNINGONE 1</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE </a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 2 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    NGNINGONE 2</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 1</a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">
                                            <div class="text-center" class="my-3">
                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                            </div>
                                            NGNINGONE OBIANG</a>
                                        <ul>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    ONA OBIANG 1</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 1</a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    ONA OBIANG 2</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            ONA OBIANG 2</a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            ONA OBIANG 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin de la page -->

    <!-- a mettre sur une page -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="text-show">
            <div class="row">
                <div class="contour mb-5">
                    <div class="tree">
                        <ul>
                            <li> <a href="#">
                                    <div class="text-center" class="my-3">
                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                    </div>
                                    ONA OBIANG</a>
                                <ul>
                                    <li><a href="#">
                                            <div class="text-center" class="my-3">
                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                            </div>
                                            BEKALE ONA BOUTAMBA</a>
                                        <ul>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    NGNINGONE 1</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE </a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 2 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    NGNINGONE 2</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 1</a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">
                                            <div class="text-center" class="my-3">
                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                            </div>
                                            NGNINGONE OBIANG</a>
                                        <ul>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    ONA OBIANG 1</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 1</a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    ONA OBIANG 2</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            ONA OBIANG 2</a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            ONA OBIANG 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin de la page -->
    <!-- a mettre sur une page -->
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="text-show">
            <div class="row">
                <div class="contour mb-5">
                    <div class="tree">
                        <ul>
                            <li> <a href="#">
                                    <div class="text-center" class="my-3">
                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                    </div>
                                    ONA OBIANG</a>
                                <ul>
                                    <li><a href="#">
                                            <div class="text-center" class="my-3">
                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                            </div>
                                            BEKALE ONA BOUTAMBA</a>
                                        <ul>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    NGNINGONE 1</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE </a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 2 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    NGNINGONE 2</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 1</a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">
                                            <div class="text-center" class="my-3">
                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                            </div>
                                            NGNINGONE OBIANG</a>
                                        <ul>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    ONA OBIANG 1</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 1</a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            NGNINGONE 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">
                                                    <div class="text-center" class="my-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                             class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                    </div>
                                                    ONA OBIANG 2</a>
                                                <ul>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            ONA OBIANG 2</a>
                                                    </li>
                                                    <li><a href="#">
                                                            <div class="text-center" class="my-3">
                                                                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                                                                     class="rounded-circle" height="80" alt="{{ app.user.prenom  | upper ~ '.' ~ app.user.nom | upper }}" loading="lazy" />
                                                            </div>
                                                            ONA OBIANG 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin de la page -->
</div>