{% if app.user.nom is defined  %}
    <div class="text-center mb-5"><h6>Confirmez votre commande en remplissant ce formulaire</h6></div>
    <div class="container mb-5">
        {{ form_start(form, {'action': path('Commande_Panier')}) }}
        <div class="row">
            <div class="col-lg-6">
                <div class="">{{ form_row(form.fullName) }}</div>
                <div class="">{{ form_row(form.codepostal) }}</div>
                <div class="">{{ form_row(form.ville) }}</div>
            </div>
            <div class="col-lg-6">
                <div class="">{{ form_row(form.telephone) }}</div>
                <div class="">{{ form_row(form.email) }}</div>
                <div class="">{{ form_row(form.adresse) }}</div>
            </div>
            {% for item in items %}
                <input type="hidden" name="LignesCommande" value="{{ item.produits }}"/>
                <input type="hidden" name="LignesCommande" value="{{ item.qty }}"/>
            {% endfor %}
        </div>
        {{ form_widget(form) }}
        <hr>
        <div class="text-center">
            <button type="submit" class="btn btn-success"> Je valide ma commande !</button>
        </div>
        {{ form_end(form) }}
    </div>
{% else %}
    <div class="container text-center pb-4">
        <h5>Vous devez être connecté pour confirmer cette commande !</h5>
        <a href="{{ path('login',{choix:'Accueil', param:'Accueil'}) }}" class="btn btn-success">Connexion</a> ou <a href="{{ path('admin.add.util', {'param':items[0].produits.id}) }}?returnToUser=true" class="btn btn-info">Créez un Compte</a>
    </div>
{% endif %}
{# form_start(form) }}
<div class="container rounded z-depth-bbs">
    <div class="row">
        {% if form.vars.value.filename is not empty %}
            <div class="col-12 text-center">
                <img class="rounded z-depth-bbs" style="height: 90%;width: 50%;" src="../../../../images/categorie/{{ form.vars.value.filename }}" alt="Semence D'affaires">
            </div>
        {% else %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col">{{ form_row(form.nom) }}</div>
        </div>
        <div class="col-6">
            {{ form_row(form.imagefile) }}
        </div>
    </div>
</div>
<hr>
<div class="row">
    <a href="{{ path('Essap',{ param:'Commandes', choix:'Accueil'}) }}">{{ 'Retour' }}</a>
</div>
{{ form_widget(form) }}
<div class="row">
    <div class="col text-center">
        <button class="btn btn-outline-default btn-rounded waves-effect text-center">{{ button|default('Enregistrer')}}<i class="far fa-paper-plane ml-2"></i></button>
    </div>
</div>
{{ form_end(form) #}
